SECRET_KEY=
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DB_ENGINE=django.db.backends.postgresql
DB_NAME=hotelsys_db
DB_USER=
DB_PASSWORD=
DB_HOST=db
DB_PORT=5432

# Se habilita cuando el backend Channels publique el contrato de habitaciones.
ROOM_PLAN_WEBSOCKET_URL_TEMPLATE=
