SECRET_KEY=
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DB_ENGINE=django.db.backends.postgresql
DB_NAME=hotelsys_db
DB_USER=
DB_PASSWORD=
DB_HOST=db
DB_PORT=5432

REDIS_HOST=redis
REDIS_PORT=6379

LOGIN_RATE_LIMIT_ATTEMPTS=5
LOGIN_RATE_LIMIT_WINDOW=900
