SECRET_KEY=
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DB_ENGINE=django.db.backends.postgresql
DB_NAME=hotelsys_db
DB_USER=
DB_PASSWORD=
DB_HOST=db
DB_PORT=5432

REDIS_HOST=redis
REDIS_PORT=6379

LOGIN_RATE_LIMIT_ATTEMPTS=5
LOGIN_RATE_LIMIT_WINDOW=900

SESSION_COOKIE_AGE=43200
SESSION_IDLE_TIMEOUT_ADMIN=900
SESSION_ABSOLUTE_TIMEOUT_ADMIN=28800
SESSION_IDLE_TIMEOUT_RECEPCIONISTA=1200
SESSION_ABSOLUTE_TIMEOUT_RECEPCIONISTA=43200
SESSION_IDLE_TIMEOUT_HOUSEKEEPING=900
SESSION_ABSOLUTE_TIMEOUT_HOUSEKEEPING=28800
SESSION_IDLE_TIMEOUT_DEFAULT=900
SESSION_ABSOLUTE_TIMEOUT_DEFAULT=28800
SESSION_WARNING_SECONDS=120
SESSION_ACTIVITY_DEBOUNCE_SECONDS=60
