asgiref==3.11.1
channels==4.2.0
channels_redis==4.2.1
Daphne==4.1.2
Django==4.2.11
django-cors-headers==4.4.0
django-filter==24.3
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
drf-spectacular==0.27.2
psycopg2-binary==2.9.11
python-decouple==3.8
sqlparse==0.5.5
tzdata==2026.1
whitenoise==6.8.2
weasyprint==69.0
