{% extends 'base.html' %}
{% load static %}

{% block title %}Check-in | HotelSys{% endblock %}
{% block page_title %}Check-in{% endblock %}
{% block page_subtitle %}Selecciona reservas confirmadas para iniciar estancia.{% endblock %}

{% block page_actions %}
<a class="btn btn-outline-primary" href="{% url 'estancias:listar_estancias' %}">
    <i class="bi bi-arrow-left me-2" aria-hidden="true"></i>Estancias
</a>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/habitaciones.css' %}">
<link rel="stylesheet" href="{% static 'css/estancias.css' %}?v=inline-checkin-1">
{% endblock %}

{% block content %}
<meta http-equiv="refresh" content="0; url={% url 'estancias:listar_estancias' %}">
{% endblock %}
